/* 1. Všetko má border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Odstráni margin na začiatku (napr. body, h1...) */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote {
  margin: 0;
}

/* 3. Odstráni padding z listov (ul/ol) */
ul, ol {
  padding: 0;
  list-style: none;
}

/* 4. Nastaví základný font a vycentruje renderovanie */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #141414;
}

/* 5. Uľahčí prácu s obrázkami a videami */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 6. Odkazy bez podčiarknutia (voliteľné) */
a {
  text-decoration: none;
  color: inherit;
}

/* 7. Vstupy, tlačidlá: dedenie fontu */
input, button, textarea, select {
  font: inherit;
}







.background {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(20, 20, 20, 1) 100%),
    url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  
}




nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #18141c;
}

.inner-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav a {
  position: relative;
  color: white;
  padding: 15px;
}

nav a:hover {
  color: rgba(0, 140, 255, 0.692);
}


nav a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color: rgba(0, 140, 255, 0.692);
  transition: width 0.5s ease-in-out;
  transform: translateX(-50%);
}

nav a:hover::after {
  width: 100%;
}

nav .selector {
  padding: 15px;
  
}

nav .selector select {
  background-color: #302c34;
  color: white;
   border: 1px solid white;
   border-radius: 4px;
   padding-right: 2em;
}
  
